@import "tailwindcss";

:root {
  --font-noto-sans-jp: "Noto Sans JP", sans-serif;
}

body {
  font-family: var(--font-noto-sans-jp), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
